[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.14.0"
django = "==5.0.2"
webauthn = "*"
django-cors-headers = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.11"
